pathlib
argparse
numpy
pandas
datasets
scikit_learn
ontospy==2.1.1
openai==1.56.0
owlready2==0.44
rank_bm25==0.2.2
rapidfuzz==3.5.2
rdflib==7.1.1
sentence_transformers==2.2.2
setfit==1.0.3
torch==2.5.0
tqdm==4.66.3
transformers==4.46.0
pre-commit
setuptools
wheel
twine
ruff
