pathlib
argparse
numpy
pandas
datasets
scikit-learn
tqdm
owlready2==0.44
rdflib==7.1.1
torch==2.8.0
transformers==4.50.0
rapidfuzz==3.5.2
openai==1.56.0
rank_bm25==0.2.2
huggingface-hub==0.34.4
sentence-transformers==5.1.0
bitsandbytes==0.45.1
pykeen==1.11.1
ruff
pre-commit
setuptools
wheel
twine
pytest
