/* for logo */
.document img {
    width: auto;
    max-width: 100%;
    height: auto;
}

/*.nav-item:nth-child(-n+4) {*/
/*    display: none; !* Hides the first four nav items *!*/
/*}*/

.full-width {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    align-content: center;
}
.catalog-table {
   border-collapse: collapse;
   width: 100%;
   margin: 1em 0;
}
.catalog-table th, .catalog-table td {
   border: 1px solid #ddd;
   text-align: left;
   padding: 8px;
}
.catalog-table th {
   background-color: #f4f4f4;
   font-weight: bold;
}
.catalog-table tr:nth-child(even) {
   background-color: #f9f9f9;
}
.catalog-table tr:hover {
   background-color: #f1f1f1;
}

.training-arguments > .table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

.training-arguments > .table > a {
    padding: 0.5rem;
    border: 1px solid #e1e4e5;
}

.content{
    max-width: 840px;
}


/* Default (for large screens) */
.content:not(.custom) {
    max-width: 80%;
    margin: 0 auto;
}

/* Medium screens (e.g. tablets) */
@media (max-width: 1024px) {
    .content:not(.custom) {
        max-width: 100%;
    }
}

/* Small screens (e.g. smartphones) */
@media (max-width: 600px) {
    .content:not(.custom) {
        max-width: 100%;
    }
}

.project-vision {
  background-color: #e6f7ff;
  padding: 1em;
  border-left: 5px solid #ffbe18;
  margin-bottom: 1.2em;
  font-size: 1.1em;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 2rem auto;
  aspect-ratio: 16 / 9;
}

.video-container iframe {
  width: 90%;
  height: 90%;
  border-radius: 12px;
}

.video-card {
  max-width: 960px;
  margin: 3rem auto;
  padding: 1rem;
  background: #f9fafb;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgb(161, 159, 159);
}

.video-card iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
}

.video-caption {
  margin-top: 0.75rem;
  text-align: center;
  font-size: 1.05rem;
  color: #0d3b5a;
}
